<div class="table-responsive-sm">
    <table class="table table-sm table-dark table-bordered">
        <thead>
            <tr class="table-secondary">
                <th>Nome</th>
                <select #select (change)="mudarPkm(select.value)">
                    <option value="0">Selecione um Pokemon</option>
                    <option *ngFor="let pokemon of pokemonService.poke" [value]="pokemon.name">{{pokemon.name}}</option>
                </select>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th scope="row">Altura</th>
                <td>{{pokemonService.oneP.height}}</td>
            </tr>
            <tr>
                <th scope="row">Peso</th>
                <td>{{pokemonService.oneP.weight}}</td>
            </tr>
            <tr *ngIf="pokemonService.oneP.types">
                <th scope="row">Tipo</th>
                <td *ngFor="let types of pokemonService.oneP.types">{{types.type.name}}</td>
            </tr>
            <tr *ngIf="pokemonService.oneP.abilities">
                <th scope="row">Habilidades</th>
                <td *ngFor="let abilities of pokemonService.oneP.abilities">{{abilities.ability.name}}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td><img class="rounded float-left" src="{{pokemonService.oneP.sprites ? pokemonService.oneP.sprites.front_default : ''}}"></td>
            </tr>
        </tbody>
    </table>
</div>