.grid-list{
  background-color: lightgray;
  border: 1px solid black;
  color: black;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  box-shadow: 5px 5px 5px gray;
}
.cardSub{
  color: black;
}
::placeholder{
  /* color: white !important; */
}
.grid-tile1{
  color: #feca1b;
}

.body{
  background-color: #030303;
}

.imgTempo{
  margin: 20px;
  border-radius: 20px;
}

.pData{
  font-size: 80px;
  font-weight: bolder;
  -webkit-text-stroke: 2px #3761a8;
  font-family: 'Pokemon Solid', sans-serif;
}

.divText{
  width: 150pt;
}

.divText>p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
}

.imgPokem{
  width: 100px;
  height: 100px;
  border: 1px solid darkslateblue;
  border-radius: 15px;
  margin: 10px;
  padding: 5px;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
